#left-div{
    color: blue;
    float: left;
    border: solid black 1px;
    width: 30%;
    height: 500px;
    background-color: lightgrey;
}

#right-div{
    color:red;
    float: left;
    /* border: solid black 1px; */
    width: 70%;
    height: auto;
}

#weather-locations {
    border: solid 1px lightgray;
    margin: 5px;
    padding: 5px;
}

#current-weather {
    border: solid 1px lightgray;
    margin: 5px;
    padding: 5px;
}

#future-forecast {
    border: solid 1px lightgray;
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.five-day-forecast{
    border: 1px solid lightgray;
    border-radius: 1rem;
    background-color: lightskyblue;
    float: left;
    margin: 25px 10px;
    width: auto;
    height: auto;
    padding: 20px 10px;

}

img {
    /* height: 100px; */
    width: 50px;
}

.cityBlock{
    border: 2px solid lightseagreen;
    width: 100%;
    padding: 15px 25px;
    margin: 0px;
    /* border-radius: 1rem; */
}

#fuckingBtn{
    z-index: 100;
}