#left-div{
    color: blue;
    float: left;
    border: solid black 1px;
    width: 30%;
    height: 500px;
    background-color: gray;
}

#right-div{
    color:red;
    float: left;
    border: solid black 1px;
    width: 70%;
    height: 500px;
}

#weather-locations {
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
}

#current-weather {
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
}